* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   


body {
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 1000px;
    margin:auto;
    border-left:  .5rem solid #7F57F1;
    border-right: .5rem solid #7F57F1;
}



.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(9, 1fr);
	gap: 0.3rem;
	color: black;

}

.grid-box {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;

}

/* -------Logo---------- */
/* -------Desktop------- */

.grid-box:nth-child(1) {
	grid-column: span 1;

}

/* -------Nav-Meny---------- */
/* -------Desktop----------- */

.grid-box:nth-child(2) {
	grid-column: span 2;

}

span{
    color: #7F57F1
}

/* -------Main------------ */
/* -------Desktop--------- */

.grid-box:nth-child(3) {
	grid-column: span 2;
	grid-row: span 5;
    background-image: url('./images/background-img.jpg');
    background-size: cover;
    background-position: center;
    color: white; 
    text-align: center;
    display: flex;
    flex-direction: column;
}

.grid-box h1 {
    font-size: 2.25rem;
    margin-bottom: 15rem;
    -webkit-text-stroke: .04rem whitesmoke;
    color: #7F57F1;
    

}

.grid-box:nth-child(3) p {
    text-align: start;
    font-size: 1.2rem;
    transform: translate(0rem, 9rem);
    border: .2rem solid #7F57F1;
    padding: 1rem;
    background: rgba(117, 117, 117, 0.70);
    border-radius: 1rem;
    font-style: oblique;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.45);

}

/* -------Aside-blogg------ */
/* -------Desktop---------- */

.grid-box:nth-child(4) {
	list-style: none;
	grid-column: span 1;
	grid-row: span 5;
    background-color: #393939a2;
    color: whitesmoke;

}

.blog-posts{
	grid-column: span 3;
	grid-row: span 2;
    display: grid;
    gap: .2rem;    
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    list-style: none;

}

.blog-posts li {
    width: 16rem;
    padding: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.blog-container {
    text-align: center; 
}

.blog-posts img {
    width: auto;
    height: 5rem;
    align-self: start;
    
}


.blog-container h2 {
    margin-bottom: .5rem;
}



/* -------Sponsors---------- */
/* -------Desktop----------- */

.grid-box:nth-child(5) {
	grid-column: span 3;
	grid-row: span 2;
    gap: 4rem;
    background-color: lightgray;
    overflow: auto;

}

.grid-box:nth-child(5) h2 {
    color: whitesmoke;
    -webkit-text-stroke: .05rem black;
}

#sponsor-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
}

.sponsor-h2 {
    grid-column: 1 / -1; 
    font-size: 2rem;
}

#sponsor-text {
    border: .3rem dotted whitesmoke;
    padding: 1rem 1rem;
    color: whitesmoke;
    text-shadow: 1 1 black .1rem;
    font-size: 1.2rem;
}


/* -------Footer---------- */
/* -------Desktop--------- */

.grid-box:nth-child(6) {
	grid-column: span 3;
    display: flex;
    justify-content: space-evenly;
    background-color: #7F57F1;
    color: whitesmoke;
    
}

.menu {
   list-style: none;
   display: flex;
   justify-content: space-between;
   
}

.menu li {
    margin: 0 10px;
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.blog-posts	{
	list-style: none;

}



@media screen and (max-width: 600px) {



/* -------Logo---------- */
/* -------Tablet-------- */

.grid-box:nth-child(1) {
	grid-column: span 2;

}

.grid-box:nth-child(1) img {
    width: 90%;
    height: auto;
    
}


/* -------Nav-Meny---------- */
/* -------Tablet------------ */

.grid-box:nth-child(2) {
	grid-column: span 1;
 
}

.menu {
    list-style: none;
    display: block;
    
}

/* -------Main---------- */
/* -------Tablet-------- */

.grid-box:nth-child(3) {
	grid-column: span 3;
	grid-row: span 3;
    
}

.grid-box h1 {
    margin-bottom: 20rem;

}

.grid-box:nth-child(3) p {
    transform: translate(0rem, 6rem);

}


/* -------Aside-blogg------ */
/* -------Tablet----------- */

.grid-box:nth-child(4) {
	grid-column: span 3;
	grid-row: span 2;

}

.blog-posts{
	grid-column: span 3;
	grid-row: span 2;

}

.blog-posts li {
    border: .1rem solid #8f8e8e;
 
}


.blog-posts img {
    height: 6.25rem;
    margin-bottom: 1rem;

}


.blog-container h2 {
    margin-bottom: 1rem;
}


/* -------Sponsors---------- */
/* -------Tablet------------ */

.grid-box:nth-child(5) {
    gap:1rem;
    row-gap: .1rem;
    
}

.sponsor {
    margin: auto;
}


}
